#imoveis-destaque-titulo{
    color: #11397a;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-size: 30px;
}

#container-imagens{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content:space-between;
    margin: 0 2rem;
}

#container-imagens img{
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 350px;
    border: 1px solid #11397a;
}

.titulo-imovel{
    color: #11397a;
    font-size: 25px;
    font-weight: 600;
    margin-top: 1rem;
}

#secao-sobre-nos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#secao-sobre-nos p{
    color: #11397a;
    font-weight: 500;
    line-height: 2.5rem;
}

#secao-sobre-nos h3{
    color: #11397a;
    font-weight: bold;
    margin-bottom: 0;
}

#secao-sobre-nos .italico{
    margin-top: 0;
}